* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

/* Landing Page */
.landing-page {
	background-color: black;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.buttons {
	display: flex;
	justify-content: space-between;
	width: 450px;
	margin: 50px 0px;
	gap: 5px;
}

.about-btn, .projects-btn, .contact-btn {
	border: 2px solid white;
	border-radius: 16px;
	text-decoration: none;
	padding: 5px 10px;
	color: white;
	font-size: 30px;
}

nav a:hover {
	background-color: white;
	color: black;
}

.landing-page .title, .subtitle{
	color: white;
}

.landing-page .title {
	font-size: 90px;
	font-family: 'Brush Script MT', cursive;
}

.landing-page .subtitle {
	font-size: 30px;
	font-family: 'Courier Prime', monospace;
}

/* About me */
.about-me {
	background-color: rgb(226, 226, 226);
	height: 100vh;
}

.about-me .text {
	margin: 50px;
	font-size: 25px;
}

.about-me ul {
	width: 400px;
	margin: 50px 100px;
	float: left;
}

.about-me .title, .skills-header {
	text-align: center;
	font-size: 45px;
	margin-top: 10px;
}

.skills-imgs {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

/* fix and use flex-wrap*/
.skills-imgs img {
	height: auto;
	width: 7%;
} 

/* Projects */
.projects {
	height: 100vh;
	text-align: center;
	margin: 0px 100px;
	font-size: 18px;
}

.projects .title {
	margin-top: 10px;
}

.project1, .project2{
	margin: 40px 0px;
}

.project-btn {
	border: 2px solid black;
	text-decoration: none;
	padding: 5px;
	color: black;
	display: inline-block;
	margin: 20px;
	border-radius: 16px;
}

.projects a:hover {
	background-color: black;
	color: white;
}

/* Contact Page */
.contact {
	background-color: rgb(197, 197, 197);
	height: auto;
	width: 100vw;
	padding-bottom: 10px;
}

.contact img {
	height: auto;
	width: 10%;
}

.contact {
	text-align: center;
}

